
// Model thêm hóa đơn
#modelThemHoaDon.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Thêm hóa đơn 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alerts
                    // Các alert của phần này



                .form-group
                    label.small.mb-1(for='idKhachHang') Id khách hàng  
                    input#idKhachHang(type='int', class='form-control py-4 idKhachHang' , placeholder='Nhập Id khách hàng', )
                .form-group
                    label.small.mb-1(for='idBan') Id bàn  
                    input#idBan(type='int', class='form-control py-4 idBan' , placeholder='Nhập Id bàn', )
                .form-group
                    label.small.mb-1(for='idNhanVien') Id nhân viên  
                    input#idNhanVien(type='int', class='form-control py-4 idNhanVien' , placeholder='Nhập Id nhân viên', )
                .form-group
                    label.small.mb-1(for='thoiGianLap') Thời gian  
                    input#thoiGianLap(type='datetime', class='form-control py-4 thoiGianLap' , placeholder='Nhập Thời gian', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm Hóa đơn')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
