
    // Model thêm đặt bàn
    #modelThemDatBan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            form.modal-content
                .modal-header
                    h5.modal-title Thêm đặt bàn 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .alerts
                        // Các alert của phần này

                .form-group
                    label.small.mb-1(for='idkhachhang') Id khách hàng   
                    input#idkhachhang(type='int', class='form-control py-4 idkhachhang' , required='true', placeholder='Nhập Id khách hàng ')
                .form-group
                    label.small.mb-1(for='idban') Id bàn  
                    input#idban(type='int', class='form-control py-4 idban' , required='true', placeholder='Nhập Id bàn')
                .form-group
                    label.small.mb-1(for='thoigianlap') Thời gian lập  
                    input#thoigianlap(type='datetime', class='form-control py-4 thoigianlap' , required='true', placeholder='Nhập Thời gian lập')

                .form-group
                    label.small.mb-1(for='thoigiannhan') Thời gian nhận  
                    input#thoigiannhan(type='datetime', class='form-control py-4 thoigiannhan' , placeholder='Nhập Thời gian nhận')
                .form-group
                    label.small.mb-1(for='ghichu') Ghi chú  
                    input#ghichu(type='string', class='form-control py-4 ghichu' , placeholder='Nhập Ghi chú')
                .modal-footer
                    input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm Đặt bàn')
                    input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
