
// Model thêm nhập hàng
#modelThemnhaphang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Thêm nhập hàng 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alerts
                    // Các alert của phần này



                .form-group
                    label.small.mb-1(for='manguonsanpham') Mã nguồn sản phẩm  
                    input#manguonsanpham(type='int', class='form-control py-4 manguonsanpham' , placeholder='Nhập mã nguồn sản phẩm', required)
                .form-group
                    label.small.mb-1(for='ngaygionhap') Ngày giờ nhập  
                    input#ngaygionhap(type='datetime', class='form-control py-4 ngaygionhap' , placeholder='Nhập ngày giờ nhập', required)
                .form-group
                    label.small.mb-1(for='manhanvien') Mã nhân viên  
                    input#manhanvien(type='int', class='form-control py-4 manhanvien' , placeholder='Nhập mã nhân viên', required)
                .form-group
                    label.small.mb-1(for='ghichu') Ghi chú  
                    input#ghichu(type='string', class='form-control py-4 ghichu' , placeholder='Nhập ghi chú', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm nhập hàng')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
