
// Model sửa nhập hàng
#modelSuanhaphang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuanhaphang aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa nhập hàng 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idnhaphang(type='hidden')

                .form-group
                    label.small.mb-1(for='manhaphang') mnhphng  
                    input#manhaphang(type='int', class='form-control py-4 manhaphang' , required, placeholder='Nhập mnhphng')

                .form-group
                    label.small.mb-1(for='manguonsanpham') mngunsnphm  
                    input#manguonsanpham(type='int', class='form-control py-4 manguonsanpham' , placeholder='Nhập mngunsnphm', required)
                .form-group
                    label.small.mb-1(for='ngaygionhap') ngyginhp  
                    input#ngaygionhap(type='datetime', class='form-control py-4 ngaygionhap' , placeholder='Nhập ngyginhp', required)
                .form-group
                    label.small.mb-1(for='manhanvien') mnhnvin  
                    input#manhanvien(type='int', class='form-control py-4 manhanvien' , placeholder='Nhập mnhnvin', required)
                .form-group
                    label.small.mb-1(for='ghichu') ghich  
                    input#ghichu(type='string', class='form-control py-4 ghichu' , placeholder='Nhập ghich', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa nhphng')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
