
// Model sửa chi tiết khuyến mãi
#modelSuaCtkm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuaCtkm aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa chi tiết khuyến mãi 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idCtkm(type='hidden')

                .form-group
                    label.small.mb-1(for='idKhuyenMai') Id khuyến mãi  
                    input#idKhuyenMai(type='int', class='form-control py-4 idKhuyenMai' , required='true', placeholder='Nhập Id khuyến mãi')
                .form-group
                    label.small.mb-1(for='idSanPham') Id sản phẩm  
                    input#idSanPham(type='int', class='form-control py-4 idSanPham' , required='true', placeholder='Nhập Id sản phẩm')

                .form-group
                    label.small.mb-1(for='soLuong') Số lượng  
                    input#soLuong(type='int', class='form-control py-4 soLuong' , placeholder='Nhập Số lượng', required)
                .form-group
                    label.small.mb-1(for='donGia') Đơn giá  
                    input#donGia(type='int', class='form-control py-4 donGia' , placeholder='Nhập Đơn giá', )
                .form-group
                    label.small.mb-1(for='diemTichLuy') Điểm tích lũy  
                    input#diemTichLuy(type='int', class='form-control py-4 diemTichLuy' , placeholder='Nhập Điểm tích lũy', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa Chi tiết khuyến mãi')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
