
// Model sửa khách hàng
#modelSuakhachHang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuakhachHang aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa khách hàng 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idkhachHang(type='hidden')

                .form-group
                    label.small.mb-1(for='maKhachHang') Mã khách hàng  
                    input#maKhachHang(type='int', class='form-control py-4 maKhachHang' , disabled, required, placeholder='Nhập mã khách hàng')

                .form-group
                    label.small.mb-1(for='maTaiKhoan') Mã tài khoản  
                    input#maTaiKhoan(type='int', class='form-control py-4 maTaiKhoan' , placeholder='Nhập mã tài khoản', )
                .form-group
                    label.small.mb-1(for='ten') Tên  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập tên', required)
                .form-group
                    label.small.mb-1(for='ngaySinh') Ngày sinh  
                    input#ngaySinh(type='date', class='form-control py-4 ngaySinh' , placeholder='Nhập ngày sinh', required)
                .form-group
                    label.small.mb-1(for='soDienThoai') Số điện thoại  
                    input#soDienThoai(type='string', class='form-control py-4 soDienThoai' , placeholder='Nhập số điện thoại', required)
                .form-group
                    label.small.mb-1(for='ghiChu') Ghi chú  
                    input#ghiChu(type='string', class='form-control py-4 ghiChu' , placeholder='Nhập ghi chú', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa khách hàng')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
