extends _layout_main

block stylesheets
    //Bootstrap css file
    link(type="text/css", rel="stylesheet", href="/liblaries/bootstrap.min.css")
    block custom_stylesheets

block javascripts
    //Jquery js file
    script(type="text/javascript", src="/liblaries/jquery-3.4.1.min.js")
    //Bootstrap js file
    script(type="text/javascript", src="/liblaries/bootstrap.bundle.min.js")
    //Fontawesome js file
    script(type="text/javascript", src="/liblaries/fontawesome-all.min.js")
    block custom_javascripts