#userNavbar {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgba(0, 0, 0, 1);
}

#userNavbar .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#userNavbar .nav-link {
    color: rgba(0, 0, 0, 1);
}

#userNavbar .dropdown-menu.show {
    border: 0 solid rgba(0, 0, 0, 1);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

#userNavbar .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

#userNavbar .save-dropdown {
    min-width: 200px;
}

#userNavbar .save-dropdown-button {
    border-radius: 0;
    width: 50px;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#userNavbar .save-dropdown-container {
    max-height: 200px;
}

@media (min-width:992px) {
    #userNavbar .save-dropdown {
        min-width: 500px;
    }

    #userNavbar .save-dropdown-container {
        max-height: 500px;
    }
}
