#userTeamStaff .container {
    min-height: 100vh;
}

#userTeamStaff .bartender {
    width: 250px;
    height: 500px;
    border: 0 solid transparent;
    background-color: transparent;
    transition: all 0.75s;
}

#userTeamStaff .bartender:hover {
    border: 1px solid rgba(0,0,0,0.125);
    padding: 0 !important;
    transform: scale(1.1, 1.1);
}
    

#userTeamStaff .bartender-image {
    width: 100%;
    height: 400px;    
}

#userTeamStaff .bartender-link {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,1);
    color: rgba(255, 255, 255, 1);
    transition: all 0.75s;
}

#userTeamStaff .bartender-link:hover {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0,0,0,1); 
    transform: scale(1.1, 1.1);
}

