#userFoodMenu {
    min-height: 100vh;
}

#userFoodMenu .nav-link {
    border-radius: 0px;
}

#userFoodMenu .product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#userFoodMenu .product-item {
    min-width: 300px; 
    min-height: 150px;
}
