
// Model sửa sản phẩm
#modelSuasanpham.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuasanpham aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa sản phẩm 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idsanpham(type='hidden')

                .form-group
                    label.small.mb-1(for='masanpham') mã sản phẩm  
                    input#masanpham(type='int', class='form-control py-4 masanpham' , required, placeholder='Nhập mã sản phẩm')

                .form-group
                    label.small.mb-1(for='ten') tên  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập tên', required)
                .form-group
                    label.small.mb-1(for='linkanh') link ảnh  
                    input#linkanh(type='string', class='form-control py-4 linkanh' , placeholder='Nhập link ảnh', )
                .form-group
                    label.small.mb-1(for='loai') loại  
                    input#loai(type='string', class='form-control py-4 loai' , placeholder='Nhập loại', )
                .form-group
                    label.small.mb-1(for='gia') giá  
                    input#gia(type='int', class='form-control py-4 gia' , placeholder='Nhập giá', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa snphm')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
