
// Model sửa xuất hàng
#modelSuaXuathang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuaXuathang aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa xuất hàng 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idXuathang(type='hidden')

                .form-group
                    label.small.mb-1(for='maxuathang') Mã xuất hàng  
                    input#maxuathang(type='int', class='form-control py-4 maxuathang' , required='true', placeholder='Nhập Mã xuất hàng')

                .form-group
                    label.small.mb-1(for='ngaygioxuat') Ngày giờ xuất  
                    input#ngaygioxuat(type='datetime', class='form-control py-4 ngaygioxuat' , placeholder='Nhập Ngày giờ xuất', required)
                .form-group
                    label.small.mb-1(for='manhanvien') Mã nhân viên  
                    input#manhanvien(type='int', class='form-control py-4 manhanvien' , placeholder='Nhập Mã nhân viên', required)
                .form-group
                    label.small.mb-1(for='makhachhang') Mã khách hàng  
                    input#makhachhang(type='int', class='form-control py-4 makhachhang' , placeholder='Nhập Mã khách hàng', required)
                .form-group
                    label.small.mb-1(for='maban') Mã bàn  
                    input#maban(type='int', class='form-control py-4 maban' , placeholder='Nhập Mã bàn', required)
                .form-group
                    label.small.mb-1(for='ghichu') Ghi chú  
                    input#ghichu(type='int', class='form-control py-4 ghichu' , placeholder='Nhập Ghi chú', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa Xuất hàng')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
