
// Model sửa sản phẩm
#modelSuaSanPham.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuaSanPham aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa sản phẩm 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idSanPham(type='hidden')

                .form-group
                    label.small.mb-1(for='idSanPham') Id sản phẩm  
                    input#idSanPham(type='int', class='form-control py-4 idSanPham' , required='true', placeholder='Nhập Id sản phẩm')

                .form-group
                    label.small.mb-1(for='idLoaiSanPham') Id loại sản phẩm  
                    input#idLoaiSanPham(type='int', class='form-control py-4 idLoaiSanPham' , placeholder='Nhập Id loại sản phẩm', required)
                .form-group
                    label.small.mb-1(for='ten') Tên  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập Tên', required)
                .form-group
                    label.small.mb-1(for='gia') Giá  
                    input#gia(type='int', class='form-control py-4 gia' , placeholder='Nhập Giá', required)
                .form-group
                    label.small.mb-1(for='diemTichLuy') Điểm tích lũy  
                    input#diemTichLuy(type='int', class='form-control py-4 diemTichLuy' , placeholder='Nhập Điểm tích lũy', required)
                .form-group
                    label.small.mb-1(for='ghiChu') Ghi chú  
                    input#ghiChu(type='string', class='form-control py-4 ghiChu' , placeholder='Nhập Ghi chú', )
                .form-group
                    label.small.mb-1(for='linkAnh') Link ảnh  
                    input#linkAnh(type='string', class='form-control py-4 linkAnh' , placeholder='Nhập Link ảnh', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa Sản phẩm')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
