
// Model thêm nhân viên
#modelThemnhanvien.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Thêm nhân viên 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alerts
                    // Các alert của phần này



                .form-group
                    label.small.mb-1(for='mataikhoan') mtikhon  
                    input#mataikhoan(type='int', class='form-control py-4 mataikhoan' , placeholder='Nhập mtikhon', required)
                .form-group
                    label.small.mb-1(for='ten') tn  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập tn', required)
                .form-group
                    label.small.mb-1(for='ngaysinh') ngysinh  
                    input#ngaysinh(type='date', class='form-control py-4 ngaysinh' , placeholder='Nhập ngysinh', required)
                .form-group
                    label.small.mb-1(for='sodienthoai') sinthoi  
                    input#sodienthoai(type='string', class='form-control py-4 sodienthoai' , placeholder='Nhập sinthoi', required)
                .form-group
                    label.small.mb-1(for='diachi') ach  
                    input#diachi(type='string', class='form-control py-4 diachi' , placeholder='Nhập ach', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm nhnvin')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
