
// Model sửa thanh toán hóa đơn
#modelSuaThanhToanHoaDon.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuaThanhToanHoaDon aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa thanh toán hóa đơn 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idThanhToanHoaDon(type='hidden')

                .form-group
                    label.small.mb-1(for='idHoaDon') Id hóa đơn  
                    input#idHoaDon(type='int', class='form-control py-4 idHoaDon' , required='true', placeholder='Nhập Id hóa đơn')
                .form-group
                    label.small.mb-1(for='idTaiKhoanThanhToan') Id tài khoản thanh toán  
                    input#idTaiKhoanThanhToan(type='int', class='form-control py-4 idTaiKhoanThanhToan' , required='true', placeholder='Nhập Id tài khoản thanh toán')
                .form-group
                    label.small.mb-1(for='thoiGianThanhToan') Thời gian thanh toán  
                    input#thoiGianThanhToan(type='datetime', class='form-control py-4 thoiGianThanhToan' , required='true', placeholder='Nhập Thời gian thanh toán')

                .form-group
                    label.small.mb-1(for='phanTramTichLuy') Phần trăm tích lũy  
                    input#phanTramTichLuy(type='float', class='form-control py-4 phanTramTichLuy' , placeholder='Nhập Phần trăm tích lũy', required)
                .form-group
                    label.small.mb-1(for='soLuongDiemDoi') Số lượng điểm đổi  
                    input#soLuongDiemDoi(type='int', class='form-control py-4 soLuongDiemDoi' , placeholder='Nhập Số lượng điểm đổi', required)
                .form-group
                    label.small.mb-1(for='tyGiaDiemDoi') Tỷ giá quy đổi  
                    input#tyGiaDiemDoi(type='float', class='form-control py-4 tyGiaDiemDoi' , placeholder='Nhập Tỷ giá quy đổi', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa Thanh toán hóa đơn')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
