extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
    //Stylesheet library files
    link(type="text/css", rel="stylesheet", href="/liblaries/datatable/datatables.min.css")

    //Custom Stylesheets
    link(type="text/css", rel="stylesheet", href="/stylesheets/admins/admin-main.css")    

block content
    //Start Navbar 
    include _item_navbar
    ///End Navbar

    //Content
    #layoutSidenav
        //Sidebar
        include _item_sidebar
        
        //Start Content
        #layoutSidenav_content
            main
                .container-fluid
                    //Title
                    h1.mt-4 Quản lý tài khoản

                    //Start Breadcrumb
                    include ../items/_item_breadscrumb
                    ///End readcrumb
                    
                    //Start Main Content
                    .card
                        .card-header
                            i.fas.fa-toolbox.mr-1
                            | Các thao tác chung
                        .card-body
                            button.btn.btn-outline-secondary.rounded-0(type='button', data-toggle='modal', data-target='#modelThemTaiKhoan') Thêm mới  
                            span.mx-1
                            button.btn.btn-outline-dark.rounded-0 Xóa tất cả 

                    // Model thêm tài khoản
                    #modelThemTaiKhoan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            .modal-content
                                .modal-header
                                    h5.modal-title Thêm tài khoản 
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                .modal-body
                                    #themTaiKhoanAlerts
                                        // Các alert của phần này
                                    .form-group
                                        label.small.mb-1(for='themTaiKhoanUsername') Tên đăng nhập 
                                        input#themTaiKhoanUsername.form-control.py-4.username(type='text', placeholder='Nhập tên đăng nhập của bạn')
                                    .form-group
                                        label.small.mb-1(for='themTaiKhoanPassword') Mật khẩu 
                                        input#themTaiKhoanPassword.form-control.py-4.password(type='password', placeholder='Nhập mật khẩu của bạn')
                                    .form-group
                                        label.small.mb-1(for='themTaiKhoanConfirmPassword') Nhập lại mật khẩu 
                                        input#themTaiKhoanConfirmPassword.form-control.py-4.re_password(type='password', placeholder='Nhập lại mật khẩu của bạn')
                                    .form-group
                                        label.small.mb-1(for='themTaiKhoanLoaiTaiKhoan') Loại tài khản 
                                        select#themTaiKhoanLoaiTaiKhoan.form-control.loai
                                .modal-footer
                                    input#themTaiKhoanConfirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm Tài khoản')
                                    input#themTaiKhoanReset.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')

                    // Model sửa tài khoản
                    #modelSuaTaiKhoan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuaTaiKhoan aria-labelledby', aria-hidden='true')
                        .modal-dialog.modal-dialog-centered(role='document')
                            .modal-content
                                .modal-header
                                    h5.modal-title Sửa tài khoản 
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') &times;
                                .modal-body
                                    #suaTaiKhoanAlerts
                                        // Các alert của phần này
                                    .form-group
                                        label.small.mb-1(for='suaTaiKhoanUsername') Tên đăng nhập  
                                        input#suaTaiKhoanUsername.form-control.py-4.username(type='text', placeholder='Nhập tên đăng nhập của bạn')
                                    .form-group
                                        label.small.mb-1(for='suaTaiKhoanPassword') Mật khẩu 
                                        input#suaTaiKhoanPassword.form-control.py-4.password(type='password', placeholder='Nhập mật khẩu của bạn')
                                    .form-group
                                        label.small.mb-1(for='suaTaiKhoanConfirmPassword') Nhập lại mật khẩu 
                                        input#suaTaiKhoanConfirmPassword.form-control.py-4.re_password(type='password', placeholder='Nhập lại mật khẩu của bạn')
                                    .form-group
                                        label.small.mb-1(for='suaTaiKhoanLoaiTaiKhoan') Loại tài khoản 
                                        select#suaTaiKhoanLoaiTaiKhoan.form-control.loai
                                .modal-footer
                                    input#suaTaiKhoanConfirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa Tài khoản')
                                    input#suaTaiKhoanReset.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')

                    //Start Table
                    .card.my-4
                        .card-header
                            i.fas.fa-table.mr-1
                            | Bảng quản lý tài khoản 
                        .card-body
                            #tableQuanLyTaiKhoanContainer.table-responsive
                                table#tableQuanLyTaiKhoan.table.table-bordered.table-striped.table-hover(width='100%', cellspacing='0')
                                    thead
                                        tr
                                            th ID
                                            th Tên tài khoản 
                                            th Mật khẩu 
                                            th Loại 
                                            th Thao tác 
                                    tfoot
                                        tr
                                            th ID
                                            th Tên tài khoản 
                                            th Mật khẩu 
                                            th Loại 
                                            th Thao tác 
                                    tbody
                                        //Start Table Content
                                        //- each taikhoan in taikhoans
                                        //-     tr
                                        //-         td #{taikhoan.idTaiKhoan}
                                        //-         td #{taikhoan.username}
                                        //-         td #{taikhoan.password}
                                        //-         td #{taikhoan.loai}
                                        //-         td 
                                        //-             button.btn.btn-outline-info.rounded-0.m-1.opacity-50
                                        //-                 i.fa.fa-check-circle
                                        //-             button.btn.btn-outline-secondary.rounded-0.m-1
                                        //-                 i.fa.fa-edit
                                        //-             button.btn.btn-outline-dark.rounded-0.m-1
                                        //-                 i.fa.fa-trash
                                        ///End Table Content
                        ///End Table
                    ///End Main Content
                    
            //Start Footer                
            include ../items/_item_footer
            ///End Footer
        ///End Content

block custom_javascripts
    //Javascript library files
    script(type="text/javascript", src="/liblaries/datatable/datatables.min.js")

    //Javascript items
    script(type="text/javascript", src="/javascripts/custom-toggle-button.js")

    //Custom Javascript
    script(type="text/javascript", src="/javascripts/admins/admin-main.js")        
    script(type="text/javascript", src="/javascripts/admins/quan-ly-tai-khoan.js")
