
extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
    //Stylesheet library files
    link(type="text/css", rel="stylesheet", href="/liblaries/datatable/datatables.min.css")

    //Custom Stylesheets
    link(type="text/css", rel="stylesheet", href="/stylesheets/admins/admin-main.css")    

block content
    //Start Navbar 
    include _item_navbar
    ///End Navbar

    //Content
    #layoutSidenav
        //Sidebar
        include _item_sidebar
        
        //Start Content
        #layoutSidenav_content
            main
                .container-fluid
                    //Title
                    h1.mt-4 Quản lý tài khoản

                    //Start Breadcrumb
                    include ../items/_item_breadscrumb
                    ///End readcrumb
                    
                    //Start Main Content
                    .card
                        .card-header
                            i.fas.fa-toolbox.mr-1
                            | Các thao tác chung
                        .card-body
                            button.btn.btn-outline-secondary.rounded-0(type='button', data-toggle='modal', data-target='#modelThemtaikhoan') Thêm mới  
                            span.mx-1
                            button#deleteAll.btn.btn-outline-dark.rounded-0 Xóa tất cả 
                            span.mx-1
                            button#refreshAll.btn.btn-outline-dark.rounded-0 Làm mới 

                    // Model thêm tài khoản
                    include quan-li-taikhoan/quan-li-them

                    // Model sửa tài khoản
                    include quan-li-taikhoan/quan-li-sua

                    //Start Table
                    .card.my-4
                        .card-header
                            i.fas.fa-table.mr-1
                            | Bảng quản lý tài khoản 
                        .card-body
                            #tableQuanLytaikhoanContainer.table-responsive
                                table#tableQuanLytaikhoan.table.table-bordered.table-striped.table-hover(width='100%', cellspacing='0')
                                    thead
                                        tr
                                            th mã tài khoản
                                            th tên đăng nhập
                                            th mật khẩu
                                            th loại tài khoản
                                            th Thao tác 
                                    tfoot
                                        tr
                                            th mã tài khoản
                                            th tên đăng nhập
                                            th mật khẩu
                                            th loại tài khoản 
                                            th Thao tác 
                                    tbody
                                        //Table Content
                        ///End Table
                    ///End Main Content
                    
            //Start Footer                
            include ../items/_item_footer
            ///End Footer
        ///End Content

block custom_javascripts
    //Javascript library files
    script(type="text/javascript", src="/liblaries/datatable/datatables.min.js")
    script(type="text/javascript", src="/liblaries/sweetalert/sweetalert.min.js")

    //Javascript items
    script(type="text/javascript", src="/javascripts/custom-alert.js")
    script(type="text/javascript", src="/javascripts/custom-toggle-button.js")

    //Custom Javascript
    script(type="text/javascript", src="/javascripts/admins/admin-main.js")   

    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/variables.js")
    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/table-functions.js")
    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/them.js")
    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/sua.js")
    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/xoa.js")
    script(type="text/javascript", src="/javascripts/admins/quan-li-taikhoan/main.js")

