extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
	link(type="text/css", rel="stylesheet", href="/stylesheets/main.css")

block content
	.container
		h1.mb-3 Hello User
		
		div.mt-3
			img.img-fluid(src='/images/test.jpg')

block custom_javascripts
