footer.py-4.bg-light.mt-auto
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            .text-muted intansemc2
            div
                a(href='/info/thong-tin-ung-dung') Thông tin ứng dụng 