
// Model thêm loại sản phẩm
#modelThemLoaiSanPham.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Thêm loại sản phẩm 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alerts
                    // Các alert của phần này



                .form-group
                    label.small.mb-1(for='ten') Tên  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập Tên', required)
                .form-group
                    label.small.mb-1(for='linkAnh') Link ảnh  
                    input#linkAnh(type='string', class='form-control py-4 linkAnh' , placeholder='Nhập Link ảnh', )
                .form-group
                    label.small.mb-1(for='ghiChu') Ghi chú  
                    input#ghiChu(type='string', class='form-control py-4 ghiChu' , placeholder='Nhập Ghi chú', )
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm Loại sản phẩm')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
