extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
    link(type="text/css", rel="stylesheet", href="/stylesheets/admin-main.css")

block content
    #layoutAuthentication
        #layoutAuthentication_content
            main
                .container
                    .row.justify-content-center
                        .col-lg-5
                            .card.shadow-lg.border-0.rounded-lg.mt-5
                                .card-header
                                    h3.text-center.font-weight-light.my-4 Đăng xuất 
                                .card-body
                                    span Đăng xuất thành công 
                                .card-footer.text-center
                                    .small
                                        a(href='/') Trang chủ 


block custom_javascripts    
    script(type="text/javascript", src="/javascripts/admin-main.js")
