#userCarouselTopShow.carousel.slide.carousel-fade.wh-100.vh-100(data-ride='carousel')
    .carousel-inner
        .carousel-item.active
            .img#img1.w-100.h-100
            .carousel-caption.d-none.d-md-block
                h5 Cà phê là thức uống quen thuộc mỗi buổi sáng giúp tôi có thể cảm nhận được cả thế giới chuyển động trong cơ thể.
                a.small(href="https://wikicachlam.com/stt-ca-phe-nhung-cau-noi-hay-ve-cafe-va-cuoc-song-tinh-yeu/") Nguồn bài viết

        .carousel-item
            .img#img2.w-100.h-100
            .carousel-caption.d-none.d-md-block
                h5 Thêm chút đường cà phê có ngọt ?
                a.small(href="https://wikicachlam.com/stt-ca-phe-nhung-cau-noi-hay-ve-cafe-va-cuoc-song-tinh-yeu/") Nguồn bài viết
        .carousel-item
            .img#img3.w-100.h-100
            .carousel-caption.d-none.d-md-block
                h5 Trà cho thanh thản, rượu cho nỗi đau, cà phê cho nỗi buồn.
                a.small(href="https://wikicachlam.com/stt-ca-phe-nhung-cau-noi-hay-ve-cafe-va-cuoc-song-tinh-yeu/") Nguồn bài viết
    a.carousel-control-prev(href='#userCarouselTopShow', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Trước
    a.carousel-control-next(href='#userCarouselTopShow', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Sau
