nav#userNavbar.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='/user#userCarouselTopShow')
        i.fa.fa-coffee

    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/user#userAbout') Giới thiệu 
            li.nav-item
                a.nav-link(href='/user#userGallery') Bộ sưu tập ảnh 
            li.nav-item
                a.nav-link(href='/user#userClientComment') Ý kiến phản hồi 
            li.nav-item
                a.nav-link(href='/user#userContact') Thông tin liên hệ 
            li.nav-item
                a.nav-link(href='/user/reservation-table') Đặt trước bàn 
                    span.badge.badge-secondary 0
            li.nav-item
                a.nav-link(href='/user/reservation-table') Đặt trước món ăn 
                    span.badge.badge-secondary 0
            li.nav-item
                a.nav-link(href='/user/account-manager') Tài khoản 
            li.nav-item.dropdown
                a#navbarDropdownPages.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Trang
                .dropdown-menu(aria-labelledby='navbarDropdownPages')
                    a.dropdown-item(href='/account.manager') Trang Account Manager
                    .dropdown-divider
                    a.dropdown-item(href='/admin') Trang ADMIN
                    a.dropdown-item(href='/staff') Trang STAFF
