.card.m-3.w-100
    .card-header
        i.fas.fa-user.mr-1
        | Đăng xuất 
    .card-body
        form
            .form-group
                label Đăng xuất khỏi tài khoản hiện tại: &nbsp;
                | Username
            .form-group.d-flex.align-items-center.justify-content-end.mt-4.mb-0
                input.btn.btn-outline-secondary.rounded-0(name='logoutSubmit', type='submit', value='Đăng xuất')   
