#userGallery
    .mt-5.pt-5.mb-5.text-center
        .display-4 Bộ sưu tập ảnh 
    // Swiper
    .vh-100
        .swiper-container.h-100
            .swiper-wrapper.gallery-container
                - for(let i=0; i<=10; i+=1)
                    a.swiper-slide.d-flex.justify-content-center.align-items-center(href='/images/coffees/212272.jpg')
                        .h-100.w-100.image-gallery(style='background-image: url("/images/coffees/212272.jpg")')
            // Add Arrows
            .swiper-button-next
                i.fa.fa-chevron-right
            .swiper-button-prev
                i.fa.fa-chevron-left