#userFoodMenu
    .container.h-100
        .title.mt-5.pt-5
            .display-4 Danh sách sản phẩm 
            .lead Những hương vị ngọt ngào      

        br.my-3   

        ul.nav.nav-tabs
            - for(let i=0; i<5; i+=1)
                li.nav-item
                    a(class=(i===0)?'nav-link active':'nav-link', data-toggle='tab', href='#LoaiSanPham' + i) Loại #{i} 

        .tab-content
            - for(let i=0; i<5; i+=1)
                div(class=(i===0)?'tab-pane overflow-auto active':'tab-pane overflow-auto fade', id='LoaiSanPham' + i)
                    .my-3.lead Các sản phẩm loại #{i}
                    ul.my-3.mx-0.py-3.px-0.product-list.vh-100.overflow-auto
                        - for(let j=0; j<20; j+=1)
                            li.product-item.card.mr-2.mb-2
                                .row.no-gutters.h-100
                                    .col-md-4
                                        .card-img.h-100(style='background-image: url("/images/coffees/212272.jpg"); background-size: cover')
                                    .col-md-8.d-flex.flex-column.justify-content-between
                                        .card-body
                                            h5.card-title Product name #{j}
                                            small.card-text Product description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        .card-footer
                                            p.card-text
                                                small 
                                                    i.fa.fa-credit-card.text-warning
                                                    del.mx-1.text-danger 10000
                                                    span 8000
                                                    span.mx-3 &nbsp;
                                                    i.fa.fa-key.text-info
                                                    span 12
