.card.m-3.w-100
    .card-header
        i.fas.fa-user.mr-1
        | Đăng nhập 
    .card-body
        form
            .form-group
                label.small.mb-1 Tên đăng nhập 
                input.form-control.py-4(name='username',type='text', placeholder='Nhập Tên đăng nhập ')
            .form-group
                label.small.mb-1 Mật khẩu 
                input.form-control.py-4(name='password', type='password', placeholder='Nhập Mật khẩu ')
            .form-group
                .custom-control.custom-checkbox
                    input.custom-control-input(name='rememberPassword', type='checkbox')
                    label.custom-control-label Ghi nhớ mật khẩu 
            .form-group.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                a.small(href='#') Quên mật khẩu 
                input.btn.btn-outline-secondary.rounded-0(name='loginSubmit', type='submit', value='Đăng nhập')  
