#userContact    
    .container.vh-100
        .mt-5.pt-5.mb-5.text-center
            .display-4 Thông tin liên hệ 
        .contact-content.row.mt-5.pt-5
            .col-12.col-md-8.p-0
                iframe.w-100.h-100.p-0(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d501726.46044054395!2d106.41504086147641!3d10.754666405157089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529292e8d3dd1%3A0xf15f5aad773c112b!2zSOG7kyBDaMOtIE1pbmgsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1597000450156!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')

            .col-12.col-md-4.d-flex.flex-column.justify-content-center.bg-secondary.text-light.pt-5.pb-5
                label.p-3
                    .strong Địa chỉ 
                    .small Lorem ipsum dolor sit amet

                label.p-3
                    .strong Số điện thoại 
                    .small +1234596213945

                label.p-3
                    .strong Email 
                    .small Lorem@ipsum.com
