#userAbout.vh-100.m-0.p-0.row
    .col-6.m-0.p-0
        .img.m-0.p-0.w-100.h-100
    .col.d-flex.flex-column.justify-content-center
        span.lead Chào mừng bạn đã tới 
        span.text-uppercase.display-4 Website Quản lý quán cà phê