.card.mb-3.w-100
    .card-header
        i.fas.fa-user.mr-1
        | Xóa tài khoản   
    .card-body
        form
            .form-group
                span.small.text-danger (*) Phần bắt buộc phải nhập 
            .form-group
                label.small.mb-1 Mật khẩu 
                    span.text-danger (*)
                input.form-control.py-4(name='password', type='password', placeholder='Nhập Mật khẩu ', required)
            .form-group.d-flex.align-items-center.justify-content-end.mb-0
                span
                    input.btn.btn-outline-dark.rounded-0.mx-1(name='reset', type='reset', value='Cài lại')  
                    input.btn.btn-outline-secondary.rounded-0(name='loginSubmit', type='submit', value='Xóa tài khoản ')  
