extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
    //Custom stylesheets    
    //Css for item

    //Css for page part
    link(rel='stylesheet', href='/stylesheets/users/_page_part_navbar.css')
    link(rel='stylesheet', href='/stylesheets/users/_page_part_top_show.css')
    link(rel='stylesheet', href='/stylesheets/users/_page_part_about.css')
    link(rel='stylesheet', href='/stylesheets/users/_page_part_food_menu.css')

block content
    //Navbar
    include _page_part_navbar
    ///Navbar

    //Top show
    include _page_part_top_show
    ///Top show

    //About
    include _page_part_about
    ///About

    //Food Menu
    include _page_part_food_menu
    ///Food Menu

    //Team Staff
    include _page_part_team_staff
    ///Team Staff

    //Reservation
    include _page_part_reservation
    ///Reservation

    //Gallery
    include _page_part_gallery
    ///Gallery

    //Client 
    include _page_part_client
    ///Client

    //Contact
    include _page_part_contact
    ///Contact

    //Footer
    include ../items/_item_footer
    ///Footer

block custom_javascripts    
    //Custom Javascript
