extends ../layouts/_layout_main_bootstrap

block custom_stylesheets
    //Custom stylesheets   

    //Css for item
    link(rel='stylesheet', href='/liblaries/lightgallery/lightgallery.min.css') 
    link(rel='stylesheet', href='/liblaries/swiper/swiper-bundle.min.css') 

    //Css for page part
    link(rel='stylesheet', href='/stylesheets/users/_page_part_navbar.css') 
    link(rel='stylesheet', href='/stylesheets/users/_page_part_top_show.css') 
    link(rel='stylesheet', href='/stylesheets/users/_page_part_about.css') 
    link(rel='stylesheet', href='/stylesheets/users/_page_part_gallery.css') 
    link(rel='stylesheet', href='/stylesheets/users/_page_part_client.css') 
    link(rel='stylesheet', href='/stylesheets/users/_page_part_contact.css') 
    

block content
    //Navbar
    .fixed-top
        include _page_part_navbar
    ///Navbar

    //Content
    include _page_part_top_show
    include _page_part_about
    include _page_part_gallery
    include _page_part_client
    include _page_part_contact
    ///Content

    //Footer
    include ../items/_item_footer
    ///Footer

block custom_javascripts    
    //Custom Javascript libraries 
    script(type="text/javascript", src="/liblaries/lightgallery/lightgallery.min.js")
    script(type="text/javascript", src="/liblaries/swiper/swiper-bundle.min.js")

    //Custom javascript files
    script(type="text/javascript", src="/javascripts/users/_page_part_gallery.js")
    script(type="text/javascript", src="/javascripts/users/_page_part_client.js")
