
// Model sửa chi tiết xuất hàng
#modelSuachitietxuathang.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModelSuachitietxuathang aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Sửa chi tiết xuất hàng 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body                
                .alerts
                    // Các alert của phần này
                input.idchitietxuathang(type='hidden')

                .form-group
                    label.small.mb-1(for='maxuathang') mxuthng  
                    input#maxuathang(type='int', class='form-control py-4 maxuathang' , required, placeholder='Nhập mxuthng')
                .form-group
                    label.small.mb-1(for='masanpham') msnphm  
                    input#masanpham(type='int', class='form-control py-4 masanpham' , required, placeholder='Nhập msnphm')

                .form-group
                    label.small.mb-1(for='soluong') slng  
                    input#soluong(type='int', class='form-control py-4 soluong' , placeholder='Nhập slng', required)
                .form-group
                    label.small.mb-1(for='dongia') ngi  
                    input#dongia(type='int', class='form-control py-4 dongia' , placeholder='Nhập ngi', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Sửa chititxuthng')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
