.loginForm.card.mb-3.w-100
    .card-header
        i.fas.fa-user.mr-1
        | Đăng nhập 
    .card-body
        form
            .form-group
                span.small.text-danger (*) Phần bắt buộc phải nhập 
            .form-group
                label.small.mb-1 Tên đăng nhập 
                    span.text-danger (*)
                input.form-control.py-4(name='tendangnhap',type='text', placeholder='Nhập Tên đăng nhập ', required)
            .form-group
                label.small.mb-1 Mật khẩu 
                    span.text-danger (*)
                input.form-control.py-4(name='matkhau', type='password', placeholder='Nhập Mật khẩu ', required)
            .form-group
                .d-flex.align-items-center
                    input(name='ghinho', type='checkbox')
                    span &nbsp;
                    label.m-0 Ghi nhớ mật khẩu 
            .form-group.d-flex.align-items-center.justify-content-between.mb-0
                a.small(href='#') Quên mật khẩu 
                span
                    input.btn.btn-outline-dark.rounded-0.mx-1(name='cailai', type='reset', value='Cài lại')  
                    input.btn.btn-outline-secondary.rounded-0(name='dangnhap', type='submit', value='Đăng nhập')  
