
// Model thêm khuyến mãi
#modelThemKhuyenMai.modal.fade(tabindex='-1', role='dialog', aria-labelledby='Model aria-labelledby', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        form.modal-content
            .modal-header
                h5.modal-title Thêm khuyến mãi 
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .alerts
                    // Các alert của phần này



                .form-group
                    label.small.mb-1(for='ten') Tên  
                    input#ten(type='string', class='form-control py-4 ten' , placeholder='Nhập Tên', required)
                .form-group
                    label.small.mb-1(for='thoiGianDienRa') Thời gian diễn ra  
                    input#thoiGianDienRa(type='datetime', class='form-control py-4 thoiGianDienRa' , placeholder='Nhập Thời gian diễn ra', required)
                .form-group
                    label.small.mb-1(for='thoiGianKetThuc') Thời gian kết thúc  
                    input#thoiGianKetThuc(type='datetime', class='form-control py-4 thoiGianKetThuc' , placeholder='Nhập Thời gian kết thúc', required)
            .modal-footer
                input.confirm.btn.btn-outline-secondary.rounded-0(type='button', value='Thêm Khuyến mãi')
                input.btn.btn-outline-dark.rounded-0(type='reset', value='Cài lại')
